@import "reset";
@import "vairiables";

body {
  @extend %bgbodyColor;
}


#header {
  .header {
    &__logo {
      position: absolute;
      margin-top: 30px;
      margin-left: 30px;
    }

    &__title {
      width: 150px;
      height: 69px;
      position: absolute;
      margin-top: 173px;
      margin-left: 190px;
      font-family: CenturyGothic, sans-serif;
      font-size: 56px;
      line-height: 66px;
    }

    &__subtitle {
      width: 370px;
      height: 67px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 56px;
      line-height: 68px;
      position: absolute;
      margin-top: 221px;
      margin-left: 190px;
    }

    &__p {
      width: 370px;
      height: 144px;
      position: absolute;
      margin-top: 311px;
      margin-left: 190px;
      line-height: 35px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
    }

    &__btn {
      position: absolute;
      width: 239px;
      margin-top: 500px;
      display: flex;
      text-align: center;
      color: white;
      margin-left: 215px;
      padding: 15px 25px;
      background: linear-gradient(315deg, rgba(255, 255, 255, 0.01) 0%, rgba(0, 0, 0, 0.01) 100%), #FA6800;
      box-shadow: 0 15px 50px;
      border-radius: 30px;
    }

    &__right {
      position: absolute;
      top: 10px;
      left: 223px;
    }

    &__menu {
      position: absolute;
      margin-top: 635px;
      margin-left: 190px;
      width: 100px;
      height: 160px;
      line-height: 40px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      display: flex;
      justify-content: space-around;
    }

    &__menu1 {
      position: absolute;
      margin-top: 635px;
      margin-left: 370px;
      width: 80px;
      height: 160px;
      line-height: 40px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      display: flex;
      justify-content: space-around;
    }

    &__monero {
      position: absolute;
      left: 733px;
      top: 100px;
    }
  }
}

//header


#hero {
  width: 100%;
  height: 100%;
  background: $bgColor;
  position: absolute;
  top: 990px;

  .hero {
    &__title {

      width: 690px;
      height: 86px;
      color: #FFFFFF;
      position: absolute;
      top: 100px;
      left: 190px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      line-height: 97px;
      letter-spacing: -3.33333px;
    }

    &__subtitle {
      position: absolute;
      top: 216px;
      left: 190px;
      width: 690px;
      height: 109px;

      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 35px;
      /* or 159% */

      letter-spacing: -0.458333px;

      color: #FFFFFF;

    }

    &__block {
      @extend %block;
      position: absolute;
      top: 391px;
      left: 190px;

      &__group {
        position: absolute;
        top: 35px;
        left: 85px;
      }

      &__title {
        position: absolute;
        top: 371px;
        left: 40px;
        width: 390px;
        height: 64px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 33px;
        color: #FFFFFF;
      }

      &__subtitle {
        position: absolute;
        left: 40px;
        top: 445px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
      }
    }

    &__block1 {
      @extend %block;
      position: absolute;
      top: 391px;
      left: 770px;

      &__group1 {
        width: 292px;
        height: 48px;
        position: absolute;
        margin-top: 335px;
        margin-left: 70px;
      }

      &__title {
        position: absolute;
        top: 371px;
        left: 40px;
        width: 390px;
        height: 64px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 33px;
        color: #FFFFFF;
      }

      &__subtitle {
        position: absolute;
        left: 40px;
        top: 445px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
      }
    }

    &__block2 {
      @extend %block;
      position: absolute;
      top: 1094px;
      left: 190px;

      &__group2 {

        position: absolute;
      }

      &__title {
        position: absolute;
        top: 371px;
        left: 40px;
        width: 390px;
        height: 64px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 33px;
        color: #FFFFFF;
      }

      &__subtitle {
        position: absolute;
        left: 40px;
        top: 445px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
      }
    }

    &__block3 {
      @extend %block;
      position: absolute;
      top: 1094px;
      left: 770px;

      &__group3 {
        position: absolute;
        margin-top: 335px;
        margin-left: 70px;
      }

      &__title {
        position: absolute;
        top: 371px;
        left: 40px;
        width: 390px;
        height: 64px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 33px;
        color: #FFFFFF;
      }

      &__subtitle {
        position: absolute;
        left: 40px;
        top: 445px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
      }
    }

  }

}

//section--hero

#casual {
  position: absolute;
  top: 2755px;

  .casual {
    &__title {
      position: absolute;
      top: 100px;
      left: 190px;
      width: 1000px;
      height: 96px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      line-height: 97px;
      letter-spacing: -3px;

      color: #000000;
    }

    &__subtitle {
      position: absolute;
      top: 246px;
      left: 190px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #808080;

    }

    &__title1 {
      position: absolute;
      top: 246px;
      left: 550px;
      width: 330px;
      height: 64px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 27px;
      line-height: 33px;

      color: #000000;
    }

    &__subtitle1 {
      position: absolute;
      top: 330px;
      left: 550px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #808080;

    }

    &__title2 {
      position: absolute;
      top: 246px;
      left: 910px;
      width: 330px;
      height: 32px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 27px;
      line-height: 33px;

      color: #000000;
    }

    &__subtitle2 {
      position: absolute;
      top: 298px;
      left: 910px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #808080;

    }

    &__title3 {
      position: absolute;
      top: 515px;
      left: 550px;
      width: 330px;
      height: 32px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 27px;
      line-height: 33px;

      color: #000000;
    }

    &__subtitle3 {
      position: absolute;
      top: 567px;
      left: 550px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #808080;

    }


  }
}

#power {
  position: absolute;
  top: 3432px;

  .power {
    &__title {
      position: absolute;
      top: 100px;
      left: 190px;
      width: 1000px;
      height: 96px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      line-height: 97px;
      letter-spacing: -3px;

      color: #000000;
    }

    &__subtitle {
      position: absolute;
      top: 246px;
      left: 190px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 27px;
      color: #000000;

    }


    &__subtitle1 {
      position: absolute;
      top: 246px;
      left: 550px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #808080;

    }


    &__subtitle2 {
      position: absolute;
      top: 246px;
      left: 910px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #808080;

    }


    &__subtitle3 {
      position: absolute;
      top: 386px;
      left: 550px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #808080;

    }

    &__subtitle4 {
      position: absolute;
      top: 386px;
      left: 910px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #808080;

    }

  }
}

#business {
  position: absolute;
  top: 3953px;

  .business {
    &__title {
      position: absolute;
      top: 100px;
      left: 190px;
      width: 1000px;
      height: 96px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      line-height: 97px;
      letter-spacing: -3px;

      color: #000000;
    }

    &__subtitle {
      position: absolute;
      top: 246px;
      left: 190px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 27px;
      color: #000000;

    }


    &__subtitle1 {
      position: absolute;
      top: 246px;
      left: 550px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #808080;

    }


    &__subtitle2 {
      position: absolute;
      top: 246px;
      left: 910px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #808080;

    }


    &__subtitle3 {
      position: absolute;
      top: 386px;
      left: 550px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #808080;

    }

    &__subtitle4 {
      position: absolute;
      top: 386px;
      left: 910px;
      width: 300px;
      height: 135px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #808080;

    }

  }
}

#privacy {
  position: absolute;
  top: 4534px;

}
