%bgbodyColor{
  background: rgba(255,255,255,0.99);
}
$bgColor:
  rgba(32, 32, 32, 0.99);


%bgColor{
  background: rgba(32, 32, 32, 0.99);
}

%block{
  width: 470px;
  height: 593px;
  background: #000000;
  border-radius: 5px;

}


%block1{
  width: 220px;
  height: 220px;
  background: #000000;
  border-radius: 0;

}





